.container {
   background-color: #ced6e0;
   padding: 10px 0;
}

.container_top {
   display: flex;
   flex-direction: column;
   line-height: 1.4;
   margin-bottom: 10px;
}

.label {
   display: block;
   font-size: 18px;
   font-weight: 500;
}

.top_span {
   margin-left: 5px;
}

.like_share {
   display: flex;
   gap: 10px;
   margin-bottom: 10px;
}

.like_btn {
   display: flex;
   align-items: center;
   gap: 5px;
   border: 1px solid blue;
   font-size: 16px;
   padding: 5px 10px;
   color: #333;
   border-radius: 10px;
}

.like_active {
   background-color: blue;
   color: #fff;
}

.share_btn {
   display: flex;
   align-items: center;
   gap: 5px;
   background-color: blue;
   font-size: 16px;
   padding: 5px 10px;
   color: #fff;
   border-radius: 10px;
}

.like_icon,
.share_icon {
   font-size: 14px;
}

.rate_star {
   line-height: 1.4;
}

.start_area {
   display: flex;
   align-items: center;
   gap: 5px;
}

.star_icon {
   color: #fff;
   cursor: pointer;
}

.active {
   color: orange;
}

.rate_bottom {
   display: flex;
   align-items: center;
   gap: 5px;
}
