#header {
   display: flex;
   flex-direction: column;
   position: sticky;
   width: 100%;
   z-index: 999;
   top: 0;
   margin-bottom: 50px;
}

.logo-img {
   max-width: 200px;
}

#navbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: black;
   align-items: center;
   padding: 0 30px;
}

.main-menu {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-weight: 600;
   white-space: nowrap;
}

.menu-icon {
   color: #fff;
   padding: 20px;
}

.main-menu-item {
   position: relative;
}

.main-menu-icon {
   color: #fff;
   transition: 0.5s ease;
   margin-left: 5px;
}

.main-menu-link {
   cursor: pointer;
   display: block;
   text-decoration: none;
   color: #fff;
   padding: 10px 20px;
   font-size: 20px;
   transition: 0.5s ease;
}

.main-menu-link:hover,
.main-menu-item:hover .main-menu-link,
.main-menu-item:hover .main-menu-icon {
   color: orange;
}

.main-menu-item:hover > .sub-menu {
   display: grid;
}

.main-menu-item:hover .main-menu-icon {
   transform: rotate(-180deg);
}

.sub-menu {
   position: absolute;
   background-color: black;
   left: 0;
   grid-template-columns: repeat(2, auto);
   display: none;
   font-size: 16px;
   z-index: 10;
}

.sub-menu-link {
   display: block;
   text-decoration: none;
   padding: 10px;
   color: #fff;
}

.sub-menu-link:hover {
   color: orange;
}

.navbar-right {
   display: flex;
}

.search-icon {
   color: white;
   margin-right: 30px;
}

.account-item {
   position: relative;
}

.account-link {
   display: block;
   text-decoration: none;
   color: #fff;
   font-size: 18px;
}

.account-icon {
   margin-right: 10px;
   font-size: 16px;
}

.account-item:hover > .register {
   display: block;
}

.register {
   display: none;
   position: absolute;
   right: 0;
   background-color: black;
   width: max-content;
   z-index: 10;
}

.register-link {
   display: block;
   text-decoration: none;
   color: #fff;
   padding: 10px 5px;
}

.form-search {
   position: relative;
   display: flex;
   align-items: center;
   border-bottom: 1px solid black;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   z-index: 1;
}

.search-btn {
   position: absolute;
   left: 10px;
}

.btn-icon {
   font-size: 20px;
   color: #fff;
}

.search-input {
   width: 100%;
   border: none;
   padding: 10px 0px 10px 40px;
   background-color: rgb(88, 87, 87);
   color: white;
}

::placeholder {
   color: #fff;
   font-weight: 600;
}

.return {
   width: 100%;
   max-height: 400px;
   overflow: auto;
   background-color: #fff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   padding: 20px;
}

.return-link {
   color: #333;
}

.return-link:hover {
   color: orange;
}
