.intro_movie {
   margin: 0 50px;
}
.intro_title {
   display: flex;
   align-items: center;
   white-space: nowrap;
   gap: 10px;
   background-color: #dfe4ea;
   font-size: clamp(18px, 2.5vw, 24px);
   padding: 10px 0px;
   margin-bottom: 5px;
}

.icon_home {
   font-size: 20px;
}

.intro_link {
   display: flex;
   align-items: center;
   color: orange;
   gap: 5px;
}

.intro_info {
   position: relative;
   margin-bottom: 10px;
}

.icon_play {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: orange;
   font-size: 50px;
   z-index: 1;
   transition: 0.5s ease-in-out;
}

.icon_play:hover {
   transform: scale(1.5);
}

.info_img_background {
   width: 100%;
   aspect-ratio: 16/7;
   opacity: 0.6;
   object-fit: cover;
}

.info_place {
   position: absolute;
   display: flex;
   align-items: flex-end;
   gap: 20px;
   left: 10px;
   bottom: 10px;
   z-index: 1;
}

.info_img {
   width: 25%;
   aspect-ratio: 16/9;
   object-fit: cover;
}

.place_right {
   display: flex;
   flex-direction: column;
   color: #333;
   line-height: 1.5;
}

.place_name {
   font-size: 30px;
   font-weight: 500;
}

.place_e_name {
   font-size: 24px;
}

.place_watch {
   display: flex;
   gap: 5px;
   align-items: center;
}

.watch_trailer,
.watch_movie {
   color: white;
   padding: 10px;
   border-radius: 10px;
   opacity: 0.8;
   font-size: 16px;
   border: none;
   cursor: pointer;
   box-shadow: 2px 2px 4px rgba(48, 48, 48, 0.6);
}

.watch_trailer {
   background-color: blue;
}

.watch_movie {
   background-color: red;
}

.watch_trailer:hover,
.watch_movie:hover {
   opacity: 1;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.intro-content {
   color: white;
   padding: 10px;
   background-color: black;
   width: 100%;
}

.like-share {
   color: white;
}

.intro-rate {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.mess {
   font-size: 1.3rem;
   margin-top: 5px;
}

#star-container {
   vertical-align: middle;
   cursor: pointer;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.star-widget {
   display: flex;
   gap: 2px;
   align-items: center;
   font-size: 1.2rem;
}

.star-widget i {
   color: #ccc;
   transition: color 1s ease;
}

.star-widget i.active {
   color: #ff9601;
}

.content_hr {
   border: 1px solid orange;
   margin: 10px 0;
}

.content_info {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   overflow: hidden;
   gap: 10px;
   font-size: 18px;
   background-color: #ced6e0;
   padding: 10px 0;
}

.content_item {
   display: flex;
   gap: 5px;
}

.content_label {
   white-space: nowrap;
   font-weight: 500;
}

.content_title {
   display: flex;
   flex-wrap: wrap;
}

#trailer {
   display: none;
}

.trailer_video {
   width: 100%;
   aspect-ratio: 16/9;
}
.content_review {
   background-color: #ced6e0;
   padding: 10px 0;
}

.review_title {
   font-size: 24px;
   margin-bottom: 10px;
   color: orange;
}

.review_content {
   font-size: 18px;
}

.fb-comments {
   background-color: white;
}

@media screen and (max-width: 1023px) {
   #movie-intro {
      width: 90%;
   }

   .intro-title {
      font-size: 1.2rem;
   }

   .intro-title i {
      font-size: 0.8rem;
   }

   .icon-play {
      font-size: 2rem;
   }

   .info-img-2 {
      display: none;
   }

   .info-place {
      left: 10px;
      bottom: 10px;
   }

   .place-name {
      font-size: 1.4rem;
   }

   .place-e-name {
      font-size: 1.2rem;
   }

   .place-watch a {
      font-size: 1.2rem;
   }

   .intro-rate p {
      font-size: 1.2rem;
   }

   .star-widget {
      font-size: 1.2rem;
   }

   ul.content-info {
      grid-template-columns: repeat(1, 1fr);
      font-size: 1.2rem;
   }

   .content-review p {
      font-size: 1.5rem;
   }

   .content-review {
      font-size: 1.2rem;
   }
}

@media screen and (max-width: 767px) {
   #movie-intro {
      width: 90%;
   }

   .intro-title {
      font-size: 1rem;
   }

   .intro-title i {
      font-size: 0.7rem;
   }

   .icon-play {
      font-size: 1.5rem;
   }

   .info-img-2 {
      display: none;
   }

   .info-place {
      left: 5px;
      bottom: 5px;
   }

   .place-name {
      font-size: 1.2rem;
   }

   .place-e-name {
      font-size: 1rem;
   }

   .place-watch a {
      font-size: 1rem;
   }

   .intro-rate p {
      font-size: 1rem;
   }

   .star-widget {
      font-size: 1rem;
   }

   ul.content-info {
      grid-template-columns: repeat(1, 1fr);
      font-size: 1rem;
   }

   .content-review p {
      font-size: 1.2rem;
   }

   .content-review {
      font-size: 1rem;
   }
}
