.home {
   padding: 0 50px;
}
.home-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #dfe4ea;
   padding: 5px 0;
}

.category {
   font-size: 30px;
   font-weight: 600;
}

.watch-all-link {
   display: block;
   text-decoration: none;
   font-size: 18px;
   color: black;
}

.hr {
   border: 2px solid orange;
   margin: 10px 0;
}

.watch-all-link:hover {
   color: orange;
}

.home-row {
   background-color: #dfe4ea;
}

.list-movie {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-auto-rows: 145px;
   gap: 20px;
}

.home-hr-end {
   display: block;
   border: 1px solid #000;
   width: 500px;
   margin: 20px auto 50px auto;
}

.list-movie-flex {
   width: 100%;
}
.list-movie-flex img {
   width: 100%;
   height: 145px;
}

.slick-list {
   height: 145px;
}

.list-movie-flex li {
   margin-left: 20px;
}

.slick-track .slick-current li {
   margin-left: 0 !important;
}
